@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}

header {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  background: url(https://raw.githubusercontent.com/gerhofer/babypeachs-website/master/assets/paint.jpg)
    no-repeat fixed;
  background-size: cover;
}

.typecarousel {
  width: 30%;
  text-align: left;
}

#carousel > .wrap {
  border-right: 0.08em solid #666;
  animation: animated-cursor 1000ms steps(30, end) infinite;
}

@keyframes animated-cursor {
  from {
    border-right-color: #666;
  }
  to {
    border-right-color: transparent;
  }
}

.aboutme {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 150px;
}

.aboutme img {
  border-radius: 50%;
  width: 70%;
  padding: 15%;
}

div.description {
  padding-right: 5%;
  flex: 3;
}

div.image {
  flex: 1;
}

hr {
  margin-left: 5%;
  margin-right: 5%;
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  border: 0;
  height: 1px;
}

.skills {
  text-align: center;
}

.skills ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 70%;
  padding: 20px;
  margin: auto;
}

.skills ul li {
  list-style: none;
  min-width: 15%;
}

.skills ul li i {
  border: 4px solid black;
  border-radius: 50%;
  padding: 10px;
}
